<div class="row">
    <div class="col-sm-12">
        <h1 id="page-header">Geocaches</h1>
        <add-cache></add-cache>
    </div>
</div>
<div class="row mt20">
    <div class="col-sm-12">
        <cache-list></cache-list>
    </div>
</div>

<script src="~/Scripts/AngularApp/Shared/cacheList/addCache.directive.js"></script>
<script src="~/Scripts/AngularApp/Shared/cacheList/cacheList.directive.js"></script>